@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/*
VARIABLES
*/
:root{
    --onyx-color: #202224;
    --gold-color: gold;
    --azure-color: azure;
    --dropdown-color: #434648;
    --dropdown-selected-color: #5e6366;
    --background-color: #d8e1e8;
    --h1-hover-color: rgb(37, 37, 37);
    --prime-structure-size: 960px;
    --minimum-size: 350px;
    --shadow: 0px 0px 5px 2px #00000055;
    --thick-shadow: 0px 0px 7px 3px #00000068;
}


body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--azure-color);
    text-align: justify;
    font-size: medium;
    max-width: var(--prime-structure-size);
    min-width: var(--minimum-size);
    margin: auto;
}


/*
HEADER SETTINGS
*/
header{    
    box-shadow: var(--shadow);
}
/*
WEBSITE TITLE SETTINGS
*/
header > h1{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--onyx-color);
    color: var(--azure-color);
    padding: 5px;
    margin: 0;
    border-radius: 1px;
    transition: 0.5s;
}
header > h1:hover{
    color: var(--gold-color);    
}
header > img{
   width: 100%;
   margin-bottom: -6px;
}



nav{
    background-color: var(--onyx-color);
    box-shadow: var(--shadow);
    margin-bottom: 15px;
    margin-top: 11px;
}
nav > a{
    color: var(--azure-color);
    text-decoration: none;
    padding: 13px;
    font-weight: bold;
}
nav > a:hover{    
    color: var(--h1-hover-color);
    background-color: var(--gold-color);
    box-shadow: var(--shadow);
    transition: 0.5s;
}
nav .mobile{
    display: none;
}
.active{
    background-color: #ffffff53;
}
.dropdown-btn{
    font-weight: bold;
    padding: 13px;
}
.dropdown{
    display: inline-block;
    position: relative;
    color: var(--azure-color);
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.dropdown a {
    display: block; 
    background-color: var(--dropdown-color);
    color: var(--azure-color);
    text-decoration: none;
    padding: 13px;
    font-weight: bold;
}
.dropdown:hover{
    background-color: var(--dropdown-selected-color);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover {
    background-color: var(--dropdown-selected-color);
    color: var(--azure-color);
}

/*
[GRID] - CONTAINER BOX WITH CHILDREN CONTENTS AND SIDEBAR
*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 0px 5px 1px #0000005e;
}



/*
MAIN STRUCTURE AND VALUES INHERITED BY THEIR CHILDREN SECTIONS, ARTICLES, ETC.
*/
main{
    background-color: var(--background-color);
}
main > section{
    padding: 15px;
}
section > article{
    background-color: var(--azure-color);
    box-shadow: var(--shadow);
    margin: 10px auto 20px auto;
    padding: 2px 15px 15px 15px;
}
article > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: left;
    background-color: var(--onyx-color);
    color: var(--azure-color);
    box-shadow: var(--shadow);
    padding: 5px;
    transition: 0.5s;
}
article > h1:hover{
    background-color: var(--gold-color);
    color: var(--h1-hover-color);
}
section{
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
section:hover{
    padding: 8px;    
}
article > img{
    box-shadow: var(--shadow);
    transition: 0.5s;
}
article > img:hover{
    box-shadow: var(--thick-shadow);
}
aside{
    margin-top: 8px;
    text-align: end;
    padding: 2px;
    background-color: var(--background-color);
    box-shadow: 1px 1px 1px 1px #0000004a;
    transition: 0.5s;
}
aside:hover{    
    background-color: var(--onyx-color);
    color: var(--azure-color);
    box-shadow: 1px 1px 1px 1px #0000004a;
}



/*
FLEX-BOX (TO INSERT IMAGES IN THE SAME ROW)
*/

span{
    display: flex;
    flex-direction: row;
}
span > img{
    width: 250px;
    transition: 0.5s;
}
span > img:hover{    
    width: 250px;
    height: 100%;
    box-shadow: var(--shadow);
}
span > p{
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 17px;
    height: 350px;
    overflow-y: hidden;
}
span > p:hover{
    padding-right: 0px;
    overflow-y: scroll;
}
img{
    width: 100%;
    height: 100%;
}




/*
RESIZE SPECIFIC ARTICLES
*/
article#secondArticle > span > p{
    height: 230px;
}


@keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}


footer{
    padding: 0 0 30px 0;
    background-color: var(--onyx-color);
    box-shadow: var(--shadow);
}
footer > p{
    padding-top: 8vh;
    text-align: center;
    color: var(--azure-color);
    font-weight: bolder;
    transition: 0.5s;
}
footer > p:hover{    
    color: var(--gold-color);   
}



@media screen and (max-width: 930px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    nav{
        padding: 13px 0;
    }
    nav a{
        display: none;
    }
    nav .mobile{
        display: inline;
    }

    .responsive a{
        display: block;
    }
    .responsive{
        position: relative;
        padding-bottom: 0;
    }
    .responsive .mobile{
        position: absolute;
        top: 0;
    }

    .dropdown{
        display: none;
    }
    .dropdown-content{
        position: unset;
    }
    
    /*
    Hid dropdown while in mobile view
    */
    nav .hidden{
        display: block;
    }
}
@media screen and (max-width: 500px) {
    .container{
        grid-template-columns: 1fr;
    }
}